* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*garante que o preenchimento/padding seja incluido no cálculo da largura, evitando que o conteúdo ultrapasse a tela*/
}


html {
    width: 100%;
    height: 100vh;
}


header {
    padding: min(5vh, 4rem);
    /*ajustando o padding para ser mais flexível*/
    background-color: #ff97ca;
    width: 100%;
    /*colocamos a largura para 100% do espaço disponível*/

    display: flex;
    justify-content: space-between;
    align-items: center;

    /*aqui começamos o posicionamento do header*/
    position: sticky;
    /*posicionamento do header usando o stycky fixo, porém distinto do fixed*/
    top: 0;
    /*espaçamento superior zerado, fazendo com que o header fique grudado ao top*/
    left: 0;
    /*espaçamento e esquerda zerado, fazendo com que o header fique grudado á esquerda*/
    z-index: 999;
    /*fixo de profundidade
    fico carteziado*/

    box-shadow: 0 0.21rem 0.5rem white;
    /*primeiro valor sombra na direita (0)
    segundo valor sombra button (0.21rem)
    terceiro valor feadient da sombra (0.5rem)*/
}


header i {
    color: white;
    font-size: 6em;
}


header img {
    color: aqua;
    font-size: 1.5rem;
}


header button {
    width: 13rem;
    height: 1.5rem;
    background-color: #f0b1cf;
    border-radius: 1rem;
    padding: 1.3rem;
    color: antiquewhite;

    display: flex;
    justify-content: center;
    align-items: center;
}


.section-01 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ebaed4;
    width: 100%;
    padding: min(20vh, 6rem);
}


.section-02 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f5cfea;
    width: 100%;
    padding: min(20vh, 6rem);
}


.div-01 p {
    font-size: 2em;
    /*cada em vale 16*/
    margin: 1.2em;
}


.div-02 img {
    width: 30rem;
    margin: 5rem auto;
    display: block;
    /*garantindo que a imagem se comporte como um bloco*/
}



.section-03 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #c70894;
    width: 100%;
    padding: min(20vh, 6rem);
    /*ajustando para flexibilidade*/
}


.container { 
    /*elemento pai das caixas (3 div´s)*/
    display: flex;
    /*tornando ele flex; deixando os ngc lado a lado*/
    justify-content: center; /*justificando os itens na horizontal*/
    align-items: center; /*justificando */
    margin-bottom: 10rem;
    z-index: 1;
    flex-wrap: wrap;
    /*as caixas podem quebrar qndo não tiver mais espaço; (nowrap é o contrario disso)*/
    position: relative;
    /*flnd q a posiçao dos elementos vai ser relativa com o tamanho da tela*/
}


.card {
    /*caixa*/
    width: 200px;
    /*largura*/
    height: 200px;
    /*altura*/
    margin: 30px;
    /*margem em volta*/
    box-shadow: 20px 20px 50px palevioletred;
    /*sombra*/
    border-radius: 15px;
    /*arredondamento da borda*/
    background-color: #ffd7e34f(233, 167, 223, 0.288);
}

.content {
    /*conteúdo*/
    padding: 20px;
    /*espaço interno do conteudo*/
    text-align: center;
    /*alinhando os conteúdo ao centro*/
    transform: translateY(50px);
    opacity: 0.2;
    /*20% de opacidade*/
    transition: 0.5s;
    /*transição*/
}

.content:hover {
    opacity: 1;
    /*100% de visibilidade*/
    transform: translateY(0px); /*aplicando o retorno do conteúdo */
}

.content h2 {
    position: absolute;
    right: 30px;
    font-size: 5rem;
    color: gray (109, 109, 109, 0.5);
}

.content p {
    font-size: 0.8em;
    color: white;
    font-weight: 300;
    margin-top: 4rem;
}

.content a {
    padding: 8px 20px;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    font-weight: 500;
    margin-top: 2.7rem;
    box-shadow: 0 5px 15px black;
    display: inline-block;
    position: relative;
}




.div button {
    width: 9rem;
    height: 1rem;
    background-color: #f0b1cf;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em;
}





footer {
    background-color: #f0b1cf;
    width: 100%;
    padding: min(19vh, 4rem);
}


footer i {
    color: white;
    font-size: 3em;
}


@media (max-width:830px) {
    header i {
        font-size: 5.5em;
        z-index: 999;
    }

    header button {
        width: 10rem;
        height: 0.8rem;
    }

    .section-01 {
        padding: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .div-01 p {
        font-size: 1.5rem;
        line-height: 1.5;
        text-align: left;
        padding: 2.3rem;
        width: 100%;
        margin: 1em;
    }

    .div-02 img {
        width: 10rem;
        margin: 0.2 auto;
    }

    .section-02 {
        padding: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}